/* PROPIEDADES PERSONALIZADAS */
:root {
    /* Paleta de colores */
    --primario: #ffcd04;
    --primario-hover: #ffda08;
    --secundario: #78D045;
    --secundario-hover: #5cb727;    
    --gris-oscuro: #303030;
    --blanco: #fffefe;
    --negro: #1C1C1C;

    /* Tipografia */
    --tipografia-encabezado: 'PT Serif', serif;
    --tipografia-parrafo: 'Raleway', sans-serif;

    /* Border Radius */
    --border-radius-m: .5rem;
    --border-radius-l: 1rem;
    --border-radius-xl: 5rem;

    /* Espaciado */
    --espaciado-xs: 1.25rem;
    --espaciado-s: 2.5rem;
    --espaciado-m: 5rem;
    --espaciado-l: 10rem;
}

/* ESTRUCTURA DEL HTML */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*,
:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--tipografia-parrafo);
    line-height: 2;
    height: 100%;
    color: var(--negro);
    background-color: #ffffff;
}

/* ESTILOS GLOBALES */
h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.5;
    margin: 1rem 0 3rem;
    font-family: var(--tipografia-encabezado);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

@media (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 4.5rem;
    }
    
    h3 {
        font-size: 4rem;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-weight: 500;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    margin: 0;
}

.boton {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    padding: .7rem 1.2rem;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: none;
    
    transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;

    border-radius: var(--border-radius-xl);
    -webkit-border-radius: var(--border-radius-xl);
    -moz-border-radius: var(--border-radius-xl);
    -ms-border-radius: var(--border-radius-xl);
    -o-border-radius: var(--border-radius-xl);
}

@media (min-width: 992px) {
    .boton {
        width: 18rem;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    color: var(--blanco);
    background-color: var(--primario);
}

.boton--primario:hover {
    background-color: var(--negro);
}

/* UTILIDADES */
.contenedor {
    max-width: 140rem;
    margin: 0 auto;
    width: 92%;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.d-none {
    display: none;
}

.fondo-patron-1 {
    background-image: linear-gradient(rgb( 255 255 255 / .2) 0%, rgb( 255 255 255 / .2) 100%), url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
}

/* ENCABEZADO */
.encabezado {
    height: 96vh;
    background-image: linear-gradient(rgb( 0 0 0 / .5) 0%, rgb( 0 0 0 / .01) 100%), url('../images/Header/Fondo-Archeoprepona.JPG');
    background-repeat: no-repeat;
    background-position: center, 35%;
    background-size: cover;
}

@media (min-width: 992px) {
    .encabezado {
        height: 92vh;
        background-position: center, bottom center;
    }
}

@media (min-height: 1000px) {
    .encabezado {
        height: 80rem;
    }
}

.encabezado__contenido {
    padding: var(--espaciado-xs) 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .encabezado__contenido {
        height: 90%;
    }
}

.encabezado__barra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

@media (min-width: 992px) {
    .encabezado__barra {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.encabezado__logo {
    width: 11rem;
    height: 11rem;
}

.encabezado__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    .encabezado__nav {
        flex-direction: row;
        gap: 4rem;
    }
}

.encabezado__link {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--blanco);
    transition: color .1s ease-in;
    -webkit-transition: color .1s ease-in;
    -moz-transition: color .1s ease-in;
    -ms-transition: color .1s ease-in;
    -o-transition: color .1s ease-in;
}

.encabezado__link--activo {
    color: var(--primario-hover);
}

.encabezado__link:hover {
    color: var(--primario-hover);
}

.encabezado__texto {
    padding-top: 8rem;
    text-align: center;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .encabezado__texto {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .encabezado__texto {
        width: 33%;
        text-align: left;
        margin: unset;
    }
}

.encabezado__especie-mariposa {
    margin: 0 0 1rem;
    line-height: 1.5;
    font-size: 3rem;
}

.encabezado__descripcion {
    font-size: 1.5rem;
    line-height: 1.3;
}

@media (min-width: 992px) {
    .encabezado__especie-mariposa {
        margin: 0 0 2rem;
        font-size: 5rem;
    }
    
    .encabezado__descripcion {
        font-size: 1.8rem;
        line-height: 2;
    }
}

/* NOSOTROS */
.nosotros {
    padding: var(--espaciado-m) 0;
}

@media (min-width: 768px) {
    .nosotros {
        padding: var(--espaciado-l) 0;
    }

    .nosotros__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5rem;
    }
}

.nosotros__img {
    margin: 0 auto 4rem;
    border-radius: var(--border-radius-m);
    -webkit-border-radius: var(--border-radius-m);
    -moz-border-radius: var(--border-radius-m);
    -ms-border-radius: var(--border-radius-m);
    -o-border-radius: var(--border-radius-m);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 768px) {
    .nosotros__img {
        margin: 0 2rem 0 auto;
    }
}

.nosotros__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.nosotros__titulo {
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
}

/* PRODUCTOS Y SERVICIOS */
.productos,
.servicios {
    padding: var(--espaciado-s) 0;
}

@media (min-width: 768px) {
    .servicios {
        padding: var(--espaciado-l) 0;
    }
}

.productos__titulo,
.servicios__titulo {
    text-transform: capitalize;
}

.productos__grid,
.servicios__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1rem;
    gap: 2rem;

    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    width: 100%;
}

@media (min-width: 768px) {
    .servicios__grid {
        overflow: unset;
        scroll-snap-type: unset;
        padding: 0;
    }

    .servicios__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .productos__grid {
        overflow: unset;
        scroll-snap-type: unset;
        padding: 0;
    }

    .servicios__grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

.producto,
.servicio {
    height: 45rem;
    width: 30rem;
    
    padding: 2rem;
    margin-bottom: 2rem;
    
    scroll-behavior: smooth;
    scroll-snap-align: center;
    
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    transition: transform .275s ease-in, box-shadow .2s ease-in;
    -webkit-transition: transform .275s ease-in, box-shadow .2s ease-in;
    -moz-transition: transform .275s ease-in, box-shadow .2s ease-in;
    -ms-transition: transform .275s ease-in, box-shadow .2s ease-in;
    -o-transition: transform .275s ease-in, box-shadow .2s ease-in;

    border-radius: var(--border-radius-m);
    -webkit-border-radius: var(--border-radius-m);
    -moz-border-radius: var(--border-radius-m);
    -ms-border-radius: var(--border-radius-m);
    -o-border-radius: var(--border-radius-m);
}

@media (min-width: 1200px) {
    .producto:hover {
        transform: scale(1.1) rotate(-0.5deg);
        -webkit-transform: scale(1.1) rotate(-0.5deg);
        -moz-transform: scale(1.1) rotate(-0.5deg);
        -ms-transform: scale(1.1) rotate(-0.5deg);
        -o-transform: scale(1.1) rotate(-0.5deg);
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}

.producto__contenido,
.servicio__contenido {
    transition: transform .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}

.producto__contenido:hover,
.servicio__contenido:hover {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

.producto__titulo,
.servicio__titulo {
    display: block;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: var(--tipografia-encabezado);
    text-transform: uppercase;
    color: var(--blanco);
    padding-top: 2rem;
}

.producto__link,
.servicio__link {
    color: var(--primario);
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color .175s ease-in;
    -webkit-transition: color .175s ease-in;
    -moz-transition: color .175s ease-in;
    -ms-transition: color .175s ease-in;
    -o-transition: color .175s ease-in;
}

.producto__link:hover,
.servicio__link:hover {
    color: var(--primario-hover);
}

/* EXCLUSIVO DEL PRODUCTO */
.producto:nth-child(1) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .1) 85%, rgb( 0 0 0 / .5) 100%), url('../images/Products/Joyas/collar-mariposa.JPG');
}

.producto:nth-child(2) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .2) 80%, rgb( 0 0 0 / .5) 100%), url('../images/Products/arte-con-alas/arte-en-ala.jpg');
}

.producto:nth-child(3) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .1) 85%, rgb( 0 0 0 / .5) 100%), url('../images/Products/Pupas/pupa.JPG');
}

.producto:nth-child(4) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .2) 80%, rgb( 0 0 0 / .5) 100%), url('../images/Products/Taxidermia/Disecada.jpg');
}

/* EXCLUSIVO DEL SERVICIO */
.servicio:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.servicio:nth-child(1) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .5) 100%), url('../images/Services/Toures/TourVidaColores.JPG');
}

.servicio:nth-child(2) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .5) 100%), url('../images/Services/Capacitaciones/Capacitaciones.jpg');
    order: 3;
}

.servicio:nth-child(3) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .5) 100%), url('../images/Services/Toures/TourEducativo.jpg');
}

.servicio:nth-child(4) {
    background-image: linear-gradient(rgb( 0 0 0 / 0) 0%, rgb( 0 0 0 / .5) 100%), url('../images/Services/Toures/TourCocora.png');
}

@media (min-width: 768px) {
    .servicio {
        width: 100%;
        margin-bottom: 0;
    }

    .servicio:nth-child(1) {
        grid-column: 1 / 3;
    }
    
    .servicio:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
    
    .servicio:nth-child(3) {
        grid-column: 1 / 2;
    }
    
    .servicio:nth-child(4) {
       grid-column: 2 / 3;
    }
}

@media (min-width: 992px) {
    .servicio:nth-child(1) {
        grid-column: 1 / 6;
    }
    
    .servicio:nth-child(2) {
        height: 100%;
        grid-column: 6 / 8;
        grid-row: 1 / 3;
    }
    
    .servicio:nth-child(3) {
        grid-column: 1 / 3;
    }
    
    .servicio:nth-child(4) {
       grid-column: 3 / 6;
    }
}


/* BARRA-PRODUCTO */
.barra-producto {
    display: flex;
    align-items: center;

    margin-top: var(--espaciado-m);
    background-image: linear-gradient(to bottom, transparent 50%, var(--gris-oscuro) 0%), url('../images/Product-Divider/HeliconiusCydnoGalanthus.jpg');
    background-position: center, top center;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 80rem;
}

@media (min-width: 768px) {
    .barra-producto {
        margin: var(--espaciado-l) 0 0;
        background-image: linear-gradient(to right, transparent 50%, var(--gris-oscuro) 0%), url('../images/Product-Divider/HeliconiusCydnoGalanthus.jpg');
        background-position: center, left;
        background-repeat: repeat, no-repeat;
        background-size: 100%, 110rem;
    }
}

.barra-producto__grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .barra-producto__grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

.barra-producto__contenido {
    grid-row: 2 / 3;
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (min-width: 768px) {
    .barra-producto__contenido {
        padding: 8rem 4rem 12rem;
        grid-column: 2 / 3;
    }
}

.barra-producto__texto {
    color: var(--blanco);
    font-size: 1.6rem;
}