/* PROPIEDADES PERSONALIZADAS */
:root {
    /* Paleta de colores */
    --primario: #FFCC05;
    --primario-hover: #F6A21E;
    --secundario: #78D045;
    --secundario-hover: #5cb727;    
    --gris-oscuro: #303030;
    --blanco: #fffefe;
    --negro: #1C1C1C;

    /* Tipografia */
    --tipografia-encabezado: 'PT Serif', serif;
    --tipografia-parrafo: 'Raleway', sans-serif;

    /* Border Radius */
    --border-radius-m: .5rem;
    --border-radius-l: 1rem;

    /* Espaciado */
    --espaciado-xs: 1.25rem;
    --espaciado-s: 2.5rem;
    --espaciado-m: 5rem;
    --espaciado-l: 10rem;
}

/* ESTRUCTURA DEL HTML */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}

*,
:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--tipografia-parrafo);
    line-height: 2;
    height: 100%;
}

/* ESTILOS GLOBALES */
h1,
h2,
h3 {
    font-weight: 700;
    margin: 1rem 0 3rem;
    font-family: var(--tipografia-encabezado);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

@media (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 4.5rem;
    }
    
    h3 {
        font-size: 4rem;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    cursor: pointer;
    margin: 0;
}

.boton {
    font-weight: 700;
    font-size: 2rem;
    padding: 1.2rem 4rem;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: none;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    color: var(--blanco);
    background-color: var(--primario);
}

.boton--primario:hover {
    background-color: var(--primario-hover);
}

/* UTILIDADES */
.contenedor {
    max-width: 140rem;
    margin: 0 auto;
    width: 95%;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.d-none {
    display: none;
}

/* ENCABEZADO */
.header {
    height: 98vh;
    background-image: linear-gradient(rgb( 0 0 0 / .2) 0%, rgb( 0 0 0 / .2) 100%), url('../images/Header/Fondo-Archeoprepona.JPG');
    background-repeat: no-repeat;
    background-position: center, 35%;
    background-size: cover;
}

@media (min-width: 992px) {
    .header {
        height: 92vh;
        background-position: center, bottom center;
    }
}

@media (min-height: 1000px) {
    .header {
        height: 80rem;
    }
}

.header__contenido {
    padding: var(--espaciado-xs) 0;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .header__contenido {
        height: 90%;
    }
}

.header__barra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

@media (min-width: 992px) {
    .header__barra {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.header__logo {
    width: 10rem;
    height: 10rem;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    .header__nav {
        flex-direction: row;
        gap: 2rem;
    }
}

.header__link {
    font-size: 2rem;
    color: var(--blanco);
    transition: color .1s ease-in;
    -webkit-transition: color .1s ease-in;
    -moz-transition: color .1s ease-in;
    -ms-transition: color .1s ease-in;
    -o-transition: color .1s ease-in;
}

.header__link:hover {
    color: var(--primario-hover);
}

.header__texto {
    padding-top: 10rem;
    text-align: center;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .header__texto {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .header__texto {
        width: 33%;
        text-align: left;
        margin: unset;
    }
}

.header__especie-mariposa {
    margin: 0 0 1rem;
    line-height: 1.5;
    font-size: 3rem;
}

.header__descripcion {
    font-size: 1.6rem;
    line-height: 1.5;
}

@media (min-width: 992px) {
    .header__especie-mariposa {
        margin: 0 0 2rem;
        font-size: 5rem;
    }
    
    .header__descripcion {
        font-size: 1.8rem;
        line-height: 2;
    }
}